body{
font-family:ARIAL,SANS-SERIF;
margin:0;
padding:0;
background-color:#f4f4f4;

}

header,footer{
    background-color: #333;
    text-decoration-color: white;
    padding:20px;
    text-align:center;


}

section{
    padding:20px;
    margin-left: 600px;


}

h1{
    color:#dad5d5;
}

h2{
    color: #220505;
}

p{
    color:#974a4a;
}